*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;
    font-family: 'Poppins', sans-serif;
}

body{
    background: rgb(40, 39, 39);
    background: linear-gradient(to bottom,rgb(4, 8, 67), black,  rgb(30,30,30));
    background: linear-gradient(to right,rgb(19, 67, 4), rgb(16, 5, 81),  rgb(0, 0, 0));
    height: 100%;
    width: 100%;
    color: white;
    overflow: hidden;
    overflow-y: scroll;
}