.cardsContainer{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
padding: 1rem 1rem;
}

.cardImgs{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100vw;
    max-width: 65rem;
}

.singleImg{
    object-fit: cover;
    height: 20rem;
    width: 15rem;
    margin: 0.5rem;
    padding: 1rem 1rem;
    text-align: center;
}

.imgContainer{
    margin: 4px 4px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 500;
}
.imgContainer:hover{
    cursor: pointer;
    border: 4px solid rgb(92, 36, 247);
    border-radius: 3rem;
    border-bottom: transparent;
}

